<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before">
        </div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Order</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
                <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Order Management
                    </li>
                </ol>
                </div>
            </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">List of Order</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements" style="top: 10px">
                                <ul class="list-inline mb-0"> 
                                    <a href="/admin/order/add"><button class="btn btn-primary">Add</button></a>
                                    <input type="hidden" value="{{type}}" id="getType">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    {{!-- <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li> --}}
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    {{!-- <li><a data-action="close"><i class="ft-x"></i></a></li> --}}
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            {{!-- <div class="card-body">
                                <p class="card-text">Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                            </div> --}}
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Customer Id</th>
                                            <th>Date</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                            <th>View OrderDetails</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if notConfirm}}   
                                        {{#each orders}}
                                        <tr>
                                            <th scope="row"></th>
                                            <td>{{this.customerId}}</td>
                                            <td>{{this.date}}</td>
                                            <td>{{this.total}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" id="btnConfirm" onclick="confirmOrder({{this._id}})">Confirm</button>
                                            </td> 
                                            <td>
                                                <a href="/admin/order/orderDetails/{{this._id}}">
                                                    <button type="button" class="btn btn-warning">Details</button>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}

                                        {{else}}
                                        {{#each orders}}
                                        <tr>
                                        <th scope="row"></th>
                                            <td>{{this.customerId}}</td>
                                            <td>{{this.date}}</td>
                                            <td>{{this.total}}</td>
                                            <td>Confirmed</td>
                                            <td>
                                                <a href="/admin/order/orderDetails/{{this._id}}">
                                                    <button class="btn btn-primary">Details</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/admin/order/orderUpdate/{{this._id}}">
                                                    <button class="btn btn-primary">Update</button>
                                                </a>
                                            </td>
                                        </tr>    
                                        {{/each}}
                                        {{/if}}    
                                    </tbody>
                                </table>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- form to confirm order --}}
<form name="confirm-order-form" method="POST"></form>

<script>
    function confirmOrder(orderId) {
        // form and button for confirm order
        var confirmOrderForm = document.forms['confirm-order-form'];
        // When click button confirm to confirm order
        confirmOrderForm.action = `/admin/order/orderConfirm/${orderId}?_method=PUT`;
        confirmOrderForm.submit();
    }
</script>